<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="ecomm.SeleniumAutomation.TestComponents.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="Order Placement">
        <classes>
            <class name="ecomm.SeleniumAutomation.Tests.OrderPlacement">
                <methods>
                    <include name="orderPlacement"/>
                    <include name="OrdersPageValidation"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>